@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './styles/variabler.css';
@import './styles/animasjoner.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    tr {
        @apply hover:bg-yellow-100;
    }
}
